body {
    background-image: linear-gradient(to right,rgb(145, 145, 213),rgb(89, 89, 237));
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#form {
    background-color: white;
    width: 520px;
    padding: 20px;
    border-radius: 5px;
}

.modal {
    display: none;
    width:600px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.warning {
    color: red;
    margin: 0px;
}

.modal p {
    font-size: 18px;
}

.modal h3 {
    font-size: 28px;
}
#name{
    width: 500px;
    padding: 7px;
}
#email{
    width: 500px;
    padding: 7px;
}
#interests{
    width: 510px;
    padding: 10px;
}
#submit{
    width: 500px;
    padding: 10px;
}
#rating{
    width: 500px;
}